asgiref==3.12.1
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
cloudinary==1.45.0
cryptography==49.0.0
Django==6.0.7
django-ckeditor==6.7.3
django-cors-headers==4.9.0
django-enum==2.4.3
django-js-asset==4.0.1
django-oauth-toolkit==3.3.0
django-password-validators==1.7.3
djangorestframework==3.17.1
drf-yasg==1.21.15
idna==3.18
inflection==0.5.1
jwcrypto==1.5.8
oauthlib==3.3.1
packaging==26.2
psycopg==3.3.4
psycopg2-binary==2.9.12
pycparser==3.0
PyMySQL==1.2.0
python-decouple==3.8
pytz==2026.2
PyYAML==6.0.3
requests==2.34.2
shortuuid==1.0.13
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
uritemplate==4.2.0
urllib3==2.7.0
